Repository ricard027/clotingShoes: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

chore: git-message-linter adicionado, correções aplicadas
  .eslintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  package-lock.json
  package.json
  src/App.tsx
  
Due: git add ., npx eslint --ext .tsx --fix

feat: mudança no styles global e adiçao da fonts roboto
  index.html
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  
Due: git add ., npx eslint --ext .tsx --fix

chore: react-icons adicionado ao projeto
  index.html
  package-lock.json
  package.json
Due: none

feat: component header implementado
  src/App.tsx
  src/components/header.component.tsx
  src/components/header.css
  src/index.css
Due: git add ., npx eslint --ext .tsx --fix

chore: component home e react-router... adicionado
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/components/header.component.tsx
  src/pages/home/home.page.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: aquivo env config adicionado
  .gitignore
  src/config/env.config.ts
Due: npx eslint --ext .ts --fix, git add .

fix: correçoes aplicadas
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/header.component.tsx
  src/pages/home/home.page.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: arquivo categories criado
  src/App.tsx
  src/categories/Categories.tsx
  src/components/header.tsx
  src/pages/home/Home.tsx
  src/types/category.types.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

style: estilos adicionados no component categories
  .eslintrc.json
  package-lock.json
  package.json
  src/categories/Categories.tsx
  src/categories/categories.css
Due: git add ., npx eslint --ext .tsx --fix

fix: correçoes aplicadas pra tornar funcional
  .env
  .eslintrc.json
  src/config/env.config.ts
  src/vite-env.d.ts
Due: npx eslint --ext .ts --fix, git add .

feat: component categorieitem criado
  src/categories/Categories.tsx
  src/categoriesItem/Categorieitem.tsx
  src/categoriesItem/categorieItem.css
Due: git add ., npx eslint --ext .tsx --fix

fix: correçoes aplicadas pra melhor organização
  src/categories/Categories.tsx
  src/categories/categories.css
  src/categoriesItem/Categorieitem.tsx
  src/categoriesItem/categorieItem.css
  src/components/header.css
  src/components/header.tsx
Due: git add ., npx eslint --ext .tsx --fix

style: estilos adicionados no component categorie
  src/components/categories/Categories.tsx
  src/components/categories/categories.css
  src/components/categoriesItem/Categorieitem.tsx
  src/components/categoriesItem/categorieItem.css
  src/components/header/header.css
  src/components/header/header.tsx
  src/pages/home/Home.tsx
Due: git add ., npx eslint --ext .tsx --fix

chore: styled-components instalado no projeto
  package-lock.json
  package.json
Due: none

refactor: styled-components aplicado
  src/components/categories/Categories.tsx
  src/components/categories/categories.styles.ts
  src/components/categoriesItem/Categorieitem.tsx
  src/components/categoriesItem/categoryitem.styles.ts
  src/pages/login/LoginPage.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

fix: @types/styled-components instalado
  .eslintrc.json
  package-lock.json
  package.json
Due: none

feat: pasta contendo as cores adicionada
  .eslintrc.json
  .lintstagedrc.json
  src/components/button/customButton.style.ts
  src/theme/theme.colors.ts
Due: npx eslint --ext .ts --fix, git add .

feat: custombutton e custominput adicionados
  src/components/button/Custombutton.tsx
  src/components/input/CustomInput.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: pages login e sign up adicionados
  src/pages/login/LoginPage.tsx
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

refactor: styled-components aplicados no header
  src/components/header/header.style.ts
Due: npx eslint --ext .ts --fix, git add .

fix: correçoes aplicadas
  .eslintrc.json
  package.json
  src/App.tsx
  src/components/categoriesItem/categorieItem.css
  src/components/header/header.css
  src/components/header/header.tsx
Due: git add ., npx eslint --ext .tsx --fix

style: estilos adicionados no loginpage e input
  src/components/input/input.style.ts
  src/pages/login/loginPage.style.ts
Due: npx eslint --ext .ts --fix, git add .

feat: react-spiner instalado loader adicionado
  package-lock.json
  package.json
  src/components/categories/Categories.tsx
  src/components/categories/categories.styles.ts
  src/pages/login/LoginPage.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

Update README.md
  README.md
Due: none

chore: react-hook-form adicionado no projeto
  package-lock.json
  package.json
Due: none

feat: inputerrormsgcontainer adicionado
  .eslintrc.json
  package.json
  src/components/header/header.style.ts
  src/components/input/CustomInput.tsx
  src/components/input/InputErrorMessageContainer.tsx
  src/components/input/inputMessage.style.ts
  src/pages/login/LoginPage.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

chore: validator implementado no projeto
  package-lock.json
  package.json
  src/components/input/CustomInput.tsx
  src/pages/login/LoginPage.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: component sign up criado
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

style: estilos adicionados a page sign up
  src/pages/signUp/signUp.style.ts
Due: npx eslint --ext .ts --fix, git add .

fix: correçoes no button type password
  src/pages/login/LoginPage.tsx
Due: git add ., npx eslint --ext .tsx --fix

style: correçoes de estilos na page sign in
  src/pages/signUp/SignUp.tsx
  src/pages/signUp/signUp.style.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

fix: validação de form adicionada a sign in page
  src/pages/signUp/SignUp.tsx
  src/pages/signUp/signUp.style.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

chore: firebase adicionado ao projeto
  config/firebase.config
  package-lock.json
  package.json
Due: none

feat: arquivo config adicionado ao projeto
  src/pages/signUp/signUp.style.ts
Due: npx eslint --ext .ts --fix, git add .

feat: firestore-scripts add ao projeto
  config/firebase.config.ts
  src/scripts/firestore-scripts.js
Due: npx eslint --ext .ts --fix, git add .

style: ajustes na estilização do signUp
  config/firebase.config
  src/pages/signUp/SignUp.tsx
  src/pages/signUp/signUp.style.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

fix: correçoes nos arquivos firebase e firestore
  config/firebase.config.ts
  src/scripts/firestore-scripts.js
Due: npx eslint --ext .ts --fix, git add .

feat: leitura de dados do firestore db
  src/components/categories/Categories.tsx
  src/scripts/firestore-scripts.js
Due: git add ., npx eslint --ext .tsx --fix

feat: types product e user adicionados
  src/pages/signUp/SignUp.tsx
  src/types/category.types.ts
  src/types/product.types.ts
  src/types/user.types.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: validaçao nos inputs passwords, correçoes
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

Path conditions:
  npx eslint --ext .ts --fix: any of: *ts
  git add .: (any of: *ts) or (any of: *tsx)
  npx eslint --ext .tsx --fix: any of: *tsx
