Repository ricard027/clotingShoes: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: contexto adicionado
  src/contexts/user.context.tsx
  src/main.tsx
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

chore: firebase autentication inicializado
  config/firebase.config.ts
  src/App.tsx
  src/main.tsx
  src/pages/signUp/SignUp.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: validaçao de email adicionada
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: login adicionado
  src/pages/login/LoginPage.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: listener e logOut button adicionado
  src/App.tsx
  src/components/header/header.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: login com google adicionado
  config/firebase.config.ts
  src/pages/login/LoginPage.tsx
  src/pages/signUp/SignUp.tsx
  src/types/user.types.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: aplicando mudanças no contexto ao chamar onAuthStateChanged
  src/App.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: habilitando botoes login e criar conta baseando no contexto
  src/components/header/header.tsx
  src/contexts/user.context.tsx
  src/main.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: state de inicialização adicionado
  src/App.tsx
  src/pages/login/LoginPage.tsx
  src/pages/signUp/SignUp.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: context categories adicionado
  src/components/categories/Categories.tsx
  src/contexts/category.context.tsx
  src/main.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: route explorer adicionada
  src/App.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: explorer component e styled - component adicionados
  src/components/categories-overview/CategoryOverview.tsx
  src/components/categories-overview/category.steyled.ts
  src/pages/explorer/Explorer.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: navigate pro home e explorer pages adicionados
  src/components/header/header.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: categoryOverview adicionado
  src/components/categories-overview/categories.styled.ts
  src/components/category-overview/CategoryOverview.tsx
  src/components/category-overview/categoryOverviwe.styled.ts
  src/pages/explorer/Explorer.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: product item adicionados
  src/components/categories-overview/CategoriesOverview.tsx
  src/components/categories-overview/category.steyled.ts
  src/components/product-item/ProductItem.tsx
  src/components/product-item/product-item.styled.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: rota category details adicionada
  src/App.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: detalhes por categoria adicionados
  src/components/categoryDetails/CategoryDetails.tsx
  src/components/categoryDetails/categoryDetails.styled.ts
  src/pages/categoryDetailsPage/CategoryDetailsPage.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: context cart adicionado
  src/components/categoriesItem/Categorieitem.tsx
  src/contexts/cart.context.tsx
  src/main.tsx
  src/types/cart.types.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: cart component adicionado
  src/App.tsx
  src/components/cart/Cart.component.tsx
  src/components/cart/cart.styled.ts
  src/components/header/header.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: product item adicionado
  src/components/product-item/ProductItem.tsx
  src/components/product-item/product-item.styled.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: adiçao de quantidades no cartItem
  src/components/cart-item/CartItem.tsx
  src/components/cart-item/cartItem.styled.ts
  src/components/cart/Cart.component.tsx
  src/components/cart/cart.styled.ts
  src/components/product-item/ProductItem.tsx
  src/contexts/cart.context.tsx
  src/types/cart.types.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: alteraçao das quantidades do product adicionadas
  src/components/cart-item/CartItem.tsx
  src/components/cart-item/cartItem.styled.ts
  src/components/cart/cart.styled.ts
  src/contexts/cart.context.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: totalPrice adicionado ao product cart
  src/components/cart/Cart.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: contagem dos itens do carrinho adicionados
  src/components/header/header.tsx
  src/contexts/cart.context.tsx
Due: git add ., npx eslint --ext .tsx --fix

feat: mensagem pro cart vazio adicionado
  src/components/cart/Cart.component.tsx
  src/components/cart/cart.styled.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: persistindo dados do cartcontext no localstorage
  src/contexts/cart.context.tsx
Due: git add ., npx eslint --ext .tsx --fix

style: ajuste nos estilos do cartbutton
  src/components/header/header.style.ts
Due: npx eslint --ext .ts --fix, git add .

fix: correçoes na manipulação dos dados no local storage
  src/components/header/header.style.ts
  src/contexts/cart.context.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: checkout component e route adicionados
  src/App.tsx
  src/components/checkout/checkout.component.tsx
  src/components/checkout/checkout.styles.ts
  src/pages/checkout/CheckoutPage.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

fix: ajustes no z-index do cart container
  src/components/cart-item/cartItem.styled.ts
  src/components/cart/Cart.component.tsx
  src/components/cart/cart.styled.ts
  src/components/categoriesItem/categoryitem.styles.ts
  src/contexts/cart.context.tsx
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

feat: loadingComponent adicionado
  src/components/categories-overview/CategoriesOverview.tsx
  src/components/categories/Categories.tsx
  src/components/checkout/checkout.component.tsx
  src/components/loading/loading.component.tsx
  src/components/loading/loadingComponent.styles.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

chore: redux instalado
  package-lock.json
  package.json
Due: none

chore: redux adicionado
  package-lock.json
  package.json
  src/main.tsx
  src/store/root-reducer.ts
  src/store/store.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

style: responsividade adicionada
  src/components/cart-item/cartItem.styled.ts
  src/components/categoryDetails/categoryDetails.styled.ts
Due: npx eslint --ext .ts --fix, git add .

fix: configuraçao no caminho do projeto no eslint
  .eslintrc.json
Due: none

style: ajustes no productsContainer
  src/components/category-overview/CategoryOverview.tsx
  src/components/category-overview/categoryOverviwe.styled.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

Update README.md
  README.md
Due: none

chore: add redux logger
  package-lock.json
  package.json
Due: none

feat: add and use user Reducer
  src/App.tsx
  src/components/header/header.tsx
  src/main.tsx
  src/store/reducers/user.reducer.ts
  src/store/root-reducer.ts
  src/store/store.ts
Due: npx eslint --ext .ts --fix, git add ., npx eslint --ext .tsx --fix

chore: project path changed to make functional
  .eslintrc.json
Due: none

Path conditions:
  npx eslint --ext .ts --fix: any of: *ts
  git add .: (any of: *ts) or (any of: *tsx)
  npx eslint --ext .tsx --fix: any of: *tsx
